@media print {

    .header {
        page-break-before: always;
    }

}

@page {
    size: A4 landscape;
    padding: 10pt;
    margin: 30pt;
    font-family: "Helvetica Narrow";
    @top-left {
        content: 'Under development';
        color: red;
        font-style: italic;
    }
    @top {
        content: string(doctitle);
    }
    @top-right {
    }
    @bottom-left {
    }
    @bottom {
        content: string(paratitle);
    }
    @bottom-right {
        content: "Page " counter(page) " of " counter(pages);
    }
}