@media print {

    #module {
        page-break-before: always;
    }

}

@page {
    padding: 10pt;
    margin: 30pt;
    font-family: "Helvetica Narrow";
    @top {
        content: string(doctitle);
    }
    @bottom {
        content: string(paratitle);
    }
    @bottom-right {
        content: "Page " counter(page) " of " counter(pages);
    }
}

@page one {
    size: A4 landscape;
    @top-left {
        content: 'Module one';
        color: red;
    }
}

@page two {
    size: A4 portrait;
    @top-left {
        content: 'Module two';
        color: blue;
    }
}

.one {
    page: one;
}

.two {
    page: two;
}