.footer {
    /*display: none;*/
    font-style: italic;
}

.footer.big {
    font-weight: bold;
}

.page-number:before {
    content: counter(page)
}

.page-count:before {
    content: counter(pages)
}

@media print {

    .module {
        page-break-before: always;
    }

    .footer {
        position: running(footer);
        display: block;
        font-size: 12px;
        text-align: right;
        color: red;
    }

    .footer.big {
        margin-top: -35px;
        color: blue;
    }

}

@page {
    size: A4 landscape;
    margin: 150px 100px 50px 50px;
    font-family: "Helvetica Narrow";
    @top-left {
        content: 'Default';
        color: red;
    }
    @bottom-right {
        content: element(footer)
    }
}

@page big {
    margin-bottom: 0px;
    @top-left {
        content: 'Big';
        color: blue;
    }
}

.big {
    page: big;
}